@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply flex flex-col items-start justify-start min-h-screen;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-nosferatu text-nosferatu-50;
  }

  :root {
    --radius: 0.5rem;

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    transition: all ease 0.2s;
    background-color: rgba(156, 163, 175, 0.23);
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 1);
  }

  ::-webkit-scrollbar-track {
    background: trasparent;
  }

  input {
    @apply rounded bg-black/30 border-black/10 border border-solid focus:border-dracula-purple-400 focus:outline-none w-full;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

@layer utilities {
  .frosted-glass {
    @apply backdrop-blur-lg backdrop-filter bg-opacity-5 bg-white/5;
  }
}

@layer components {
  .menu-bar {
    &-content {
      @apply z-50 min-w-[12rem] overflow-hidden rounded-md border bg-aro p-1 shadow-lg border-aro-900;
      @apply data-[state=open]:animate-in data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;
    }

    &-trigger {
      @apply flex cursor-pointer select-none items-center rounded-sm px-2 py-1 text-xs font-semibold outline-none focus:bg-accent focus:text-accent-foreground;
      @apply data-[state=open]:bg-accent data-[state=open]:text-accent-foreground;
    }

    &-sub-trigger {
      @apply flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none focus:bg-accent focus:text-accent-foreground;
      @apply data-[state=open]:bg-accent data-[state=open]:text-accent-foreground;
    }

    &-item {
      @apply relative flex cursor-pointer select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none focus:bg-accent focus:text-accent-foreground;
      @apply data-[disabled]:pointer-events-none data-[disabled]:opacity-50;
      @apply hover:bg-black/20;
    }
  }

  .panel-container {
    @apply flex flex-1 gap-2 p-2 w-full overflow-hidden;
  }

  .panel-content {
    @apply h-full bg-black/10 rounded-[6px] shadow-inner;
  }

  .tabs {
    &-root {
      --active-color: #30333f;

      @apply flex flex-col bg-nosferatu flex-1;
    }

    &-trigger {
      @apply m-0 inline-flex items-center justify-center whitespace-nowrap rounded-sm rounded-b-none px-2 py-1 text-xs font-semibold ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;

      @apply data-[state=active]:bg-[var(--active-color)];
      @apply data-[state=inactive]:opacity-30;
    }

    &-list {
      @apply inline-flex items-center rounded-md w-full justify-start p-0 m-0 h-auto bg-nosferatu;
    }

    &-content {
      @apply border-[var(--active-color)] bg-[var(--active-color)] border-[4px] m-0 p-0 flex-1 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 overflow-hidden;
      @apply overflow-hidden;
    }
  }

  .tree-view {
    &-node {
      --line-color: rgb(107 114 128 / 0.2);

      &:hover {
        --line-color: rgb(107 114 128 / 0.4);
      }

      @apply relative whitespace-nowrap min-w-max;

      &.has-children {
        &::after {
          content: "";
          @apply absolute bg-[var(--line-color)] w-0.5;
          left: calc(12px + (var(--level) * 12px));
          top: 16px;
          bottom: 10px;
        }

        &::before {
          width: calc(max(24px, calc(6px * var(--level))) / 3);
        }
      }

      &:not(.has-children) {
        &::before {
          width: calc(12px * var(--level) - 6px);
        }

        &[data-level="1"] {
          &:before {
            width: calc(12px * var(--level) + 6px);
          }
        }
      }

      &:before {
        content: "";
        @apply absolute bg-[var(--line-color)] h-0.5;
        top: 0.5rem;
        left: calc((12px * var(--level)) + 2px);
      }

      &[data-level="0"] {
        &:before {
          display: none;
        }
      }

      &[data-expanded="false"] {
        &::after {
          display: none;
        }
      }

      &-title-container {
        @apply flex flex-1 w-full px-1 items-center gap-1 select-none cursor-pointer relative;
        @apply hover:bg-black/10 data-selected:bg-purple-500 data-selected:text-white data-selected:hover:bg-purple-600;

        padding-left: calc(0.75rem * var(--level) + 0.25rem);

        @apply py-0.5;

        &::last-child {
          @apply pb-0;
        }
      }

      &-title {
        @apply text-xs font-semibold flex items-center gap-1;

        svg {
          @apply w-4 h-4;
        }
      }

      &-chevron {
        @apply w-4 h-4 rotate-0 transition-transform;
        @apply data-expanded:rotate-90;
      }

      &-children {
        /* @apply space-y-1; */
      }
    }
  }
}
